version: "3.9"

services:
  app:
    image: expense-tracker:latest
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app
    ports:
      - "8080:8080"
#    environment:
#      SPRING_PROFILES_ACTIVE: "prod"
      # Example DB configs (optional)
      # SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/mydb
      # SPRING_DATASOURCE_USERNAME: user
      # SPRING_DATASOURCE_PASSWORD: pass
#    depends_on:
#      - db
    restart: always

  mongodb:
    image: mongo:6.0
    container_name: mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - mongodb_data:/data/db

volumes:
  mongodb_data:
